IMIE: {{ kontrahent.imie }}
<br />
NAZWISKO: {{ kontrahent.nazwisko }}
<br />
DATA URODZIN: {{ kontrahent.urodziny }}
<br />
ZLOBEK: {{ kontrahent.nr_zlobka.numer }}
<br />
ADRES: {{ kontrahent.nr_zlobka.adres }}
<br />

