<style>
    table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center;
                font-size:70%;
    }
</style>
<table border="1" style="width:100%">
    <tr>
        <td>IDK</td>
        <td>IMIĘ</td>
        <td>NAZWISKO</td>
        <td>URODZINY</td>
        <td>NR ŹŁOBKA</td>
        <td>ADRES ŹŁOBKA</td>

        {% for dni in dejlist %}

        <td> {{ dni }} </td>

        {% endfor %}
    </tr>
        {% for key, val in kontrahents.items %}
    <tr>
            <td>{{ key.idk  }}</td>
            <td>{{ key.imie  }}</td>
            <td>{{ key.nazwisko }}</td>
            <td>{{ key.urodziny }}</td>
            <td>{{ key.nr_zlobka.numer }}</td>
            <td>{{ key.nr_zlobka.adres }}</td>
                {% for obec in val %}
                <td><a href="http://localhost:8888/nr/test/obecnosc/{{ obec.obecnosc_id }}">
                        {{ obec.obecnosc }}</a></td>
                {% endfor %}
    </tr>
        {% endfor %}
